<html>
    <head>
        <title> PyCharm Land </title>

    </head>

    <header>
        <h1>
            This is the title heading!!!
        </h1>
    </header>

    <body>
        <table border="1">
            <title >
                The table is about hobbies
            </title>

            <tr>
                <th>

                </th>

                <th>
                    Sledding
                </th>

                <th>
                    Sking
                </th>

                <th>
                    Snowball Fights
                </th>
            </tr>

            <tr>
                <th>
                    Student name
                </th>

                <td>
                    1hr
                </td>

                <td>
                    2hr
                </td>

                <td>
                    3hr
                </td>
            </tr>

        </table>

    </body>

    <footer>
        here goes the copywrite and aditional publishing info
    </footer>





</html>